{% extends 'base.html' %}

{% block title %}
很抱歉，您要找的页面不存在 - 项晨个人博客
{% endblock %}

{% block body %}
<style type="text/css">
    .panel {
        padding: 80px 20px 0;
        min-height: 300px;
    }
    .text-center {
        margin: 0 auto;
        text-align: center;
        border-radius: 10px;
        max-width: 900px;
        box-shadow: 0 0 5px rgba(0,0,0,.1);
    }
    .text-center h2 {
        padding-top: 20px;
        font-size: 20px;
    }
    .text-center .padding-big {
        padding: 20px;
    }
</style>
<body class="single">
    {% include 'header-block.html' %}
    <section class="container">
        <div class="panel">
            <div class="text-center">
                <h2>很抱歉，您要找的页面不存在</h2>
                <div class="padding-big"><a href="/" class="btn btn-primary">返回首页</a></div>
            </div>
        </div>
    </section>
    {% include 'footer-block.html' %}
</body>
{% endblock %}