<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}项晨个人博客{% endblock %}</title>
    {% block extra %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nprogress.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/comment-style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/highlights/github.css">
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/static/js/nprogress.js"></script>
</head>
{% block body %}
{% endblock %}
</html>

{#https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css#}
{#https://cdn.bootcss.com/nprogress/0.2.0/nprogress.css#}
{#https://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css#}
{#https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js#}
{#https://cdn.bootcss.com/nprogress/0.2.0/nprogress.js#}