{% include 'base.html' %}

{% block body %}
<body class="single">
    {% include 'header-block.html' %}
    <section class="container">
        <div class="content-wrap">
            <div class="content">
                <header class="article-header">
                    <h1 class="article-title">{{ article.title }}</h1>
                    <div class="article-meta">
                        <span class="item article-meta-time"><i class="glyphicon glyphicon-time"></i> {{ article.time | date:"Y-m-d" }}</span>
                        <span class="item article-meta-views"><i class="glyphicon glyphicon-eye-open"></i> {{ article.read_count }}</span>
                        <span class="item article-meta-praise"><i class="glyphicon glyphicon-thumbs-up"></i> {{ article.praise_count }}</span>
                        <span class="item article-meta-comment"><i class="glyphicon glyphicon-comment"></i> {{ article.comment_content.all|length }}</span>
                    </div>
                </header>
                <article class="article-content">
                    {{ article.article|safe }}
                </article>
                <div class="copyright">
                    <p>转载请注明：</p>
                    <p>转自 <a class="post-url"></a></p>
                </div>
                <div class="article-social">
                    <a href="javascript:void(0)" class="{{ praise_class }}" data-id="{{ article.id }}">
                        <i class="glyphicon glyphicon-thumbs-up"></i> 点赞
                    </a>
                    <a class="reward" href="{% url "about" %}">
                        赏
                    </a>
                    <a href="javascript:void(0)" class="article-share">
                        <i class="fa fa-share-alt"></i> 分享
                    </a>
                    <div class="share-group" style="display: none">
                        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
                    </div>
                </div>
                <div class="article-tags"><i class="glyphicon glyphicon-tags"></i>
                {% for cell in article.tag.all %}
                    <a href="{% url 'tag' tag_name=cell.name %}" title="{{ cell.name }}">{{ cell.name }}</a>
                {% endfor %}
                </div>
                <div class="relates">
                    <div class="title">
                        <h3>相关推荐</h3>
                    </div>
                    <ul>
                    {% for cell in related_articles %}
                        {% if not cell.hide %}
                        <li><a href="{% url 'details' id=cell.id %}" title="{{ cell.title }}">{{ cell.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {% include 'comment-block.html' %}
        </div>
        {% include 'aside-block.html' %}
    </section>
    {% include 'footer-block.html' %}
    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
    <script>
        var url = window.location.href;
        $('.post-url').text(url)
    </script>
</body>
{% endblock %}