<footer>
    <div class="container">
        <h4>版权所有 © 2019 <a href="/">项晨个人博客</a></h4>
        <h5>Theme by <a href="http://www.muzhuangnet.com/list/mznetblog/" target="_blank">MZ-NetBlog</a></h5>
        <h5><a href="http://www.miitbeian.gov.cn/" target="_blank">浙ICP备17036325号-1</a></h5>
    </div>
    <div id="gotop"><a class="gotop"></a></div>
</footer>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.ias.js"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>
<script type="text/javascript" src="/static/js/comment-scripts.js"></script>

{#https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js#}