{% include 'base.html' %}

{% block body %}
<style>
    .article-header {
        border-bottom: none;
        padding-bottom: 3px
    }
    .article-content p{
        text-indent: 0;
    }
</style>
<body class="single">
    {% include 'header-block.html' %}
    <section class="container">
        <div class="content-wrap">
            <div class="content">
                <header class="article-header">
                    <h1 class="article-title">关于我</h1>
                </header>
                <article class="article-content">
                    {{ myself.article|safe }}
                </article>
            </div>
        </div>
        {% include 'aside-block.html' %}
    </section>
    {% include 'footer-block.html' %}
</body>
{% endblock %}